<h1><%= params[:username] %>'s Cards</h1>
	<% @user_cards.each do |card| %>
	<div class="card">
		<% if current_username == params[:username] %>
			<a href="/collections/<%= current_username %>/<%= card.id %>" class="options"><i class="fa fa-wrench"></i><a>
		<% end %>
		<q class="value"><%= card.value %></q> <br>
		<a href="/collections/<%= card.author %>"><cite class="author">@<%= card.author %></cite></a>
		<p class="tags"><%= card.tags %></p>
		<p class="time">Last Updated: <%= card.updated %></p>
		<% if current_username == params[:username] %>
			<form method="post" action='/collections/share/<%= card.id %>'>
				<input type="text" placeholder="enter username" name="username">
				<input type="submit" value="share">
			</form>
		<% end %>
	</div>
	<% end %>
